<html>
  <head>
    <link rel="stylesheet" href="/forms.css">
    <link rel="icon" type="image/x-icon" href="/icon.svg">
  </head>
  <body>
    <div class="content">
        <form method="POST" action="/edit/<%=id%>">
            <h1>Edit item</h1>
            <div class="inputBlock">
                <label for="send">Name:</label>
                <input required name="name"type="text" value=<%=name%>>
            </div>

            <div class="inputBlock">
              <label for="send">Category:</label>
              <select name="category" id="options" value=<%=category%>>
                <% categories.map(c=>{ %>
                  <option value="<%= c %>" <%= c === category ? 'selected="selected"' : '' %>><%= c %></option>
                <% }) %>
              </select>
            </div>

            <div class="inputBlock">
                <label for="send">Description:</label>
                <input required name="desc"type="text" value=<%=desc%>>
            </div>

            <div class="inputBlock">
                <label for="send">Price:</label>
                <input required name="price" type="number" value=<%=price%>>
            </div>

            <div class="inputBlock">
                <label for="send">Stock:</label>
                <input required name="stock" type="number" value=<%=stock%>>
            </div>

            <button type="submit">Save changes</button>
         </form>
         
    </div>
    <button onclick="location.href='/'">Back</button>

    </div>
  </body>
</html>