<html>
  <head>
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" type="image/x-icon" href="/icon.svg">
  </head>
  <body>
    <div class="content">
        <button onclick="location.href='/categories'">Categories</button>
        <button onclick="location.href='/new'">Add item</button>
        <h1>Items:</h1>
        <ol class="Items">
            <% items.map(m=>{ %>
            <div class="itemBlock">
                <div class="data">
                    <h2><b><i>Name:</i></b> <%=m.name%></h2>
                    <h2><b><i>Description:</i></b> <%=m.description%></h2>
                    <h2><b><i>Price:</i></b> <%=m.price%></h2>
                    <h2><b><i>Stock:</i></b> <%=m.quantity%></h2>
                    <h2><b><i>Category:</i></b> <%=m.category%></h2>
                </div>
                <div class="btns">
                    <button onclick="location.href='/edit/<%=m.id%>'">Edit</button>
                    <button onclick="location.href='/delete/<%=m.id%>'">Delete</button>
                </div>
            </div>
            <%      }) %>
            
        </ol>
    </div>

    </div>
  </body>
</html>